# Python Bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs
*.log

# Betriebssystem-Dateien
.DS_Store
Thumbs.db

# Build-Dateien
/build
/dist
*.class

# Abhängigkeiten
/node_modules
/vendor

# IDE-Dateien
*.idea
*.vscode
*.sublime-project
*.sublime-workspace

# Temporäre Dateien
*.tmp
*.swp
*.bak

# Umgebungsdateien
.env

# Sonstige
*.pdf
